apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
        component: web
    spec:
      containers:
        - name: client
          image: brittofrancis/simple_blog_api
          resources:
                  limits:
                    memory: "128Mi"
                    cpu: "500m"
          ports:
            - containerPort: 3000